.html {
  scroll-behavior: smooth;
}
.App {
  text-align: center;

}
body {
  background-color: rgba(0, 0, 0, 0.877);
    background-repeat: no-repeat;
    background-size: cover; /* or 'contain', depending on your preference */
    background-attachment: fixed; /* Optional: Keeps the background fixed during scrolling */
    background-position: center; /* Centers the image */
  
  
}

